# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/

# Tests / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.coverage

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
