# --- Python / Django ---
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtualenv / Poetry
.venv/
.venv*/
.env
.python-version

# Django: static & media (générés localement)
static/
media/

# SQLite local
*.sqlite3
db.sqlite3

# Coverage / Tests
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Builds / dist
build/
dist/
*.egg-info/

# Cache divers
.mypy_cache/
.ruff_cache/
.cache/

# Project helpers
structure.txt
